In [1]:
import pandas as pd

In [54]:
df = pd.read_excel(r"C:\Users\aswin\OneDrive\Desktop\Pandas\Customer Call List.xlsx",index_col='CustomerID')
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
1007,Jeff,Winger,NaN,1209 South Street,No,No,False
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
1019,Creed,Braton,N/a,N/a,N/a,Yes,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [55]:
df= df.drop_duplicates()
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
1007,Jeff,Winger,NaN,1209 South Street,No,No,False
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
1019,Creed,Braton,N/a,N/a,N/a,Yes,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [56]:
df =df.drop(columns='Not_Useful_Column')
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1019,Creed,Braton,N/a,N/a,N/a,Yes
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [57]:
df['Last_Name'].str.strip()

CustomerID
1001        Baggins
1002          Nadir
1003         /White
1004        Schrute
1005           Snow
1006        Swanson
1007         Winger
1008         Holmes
1009            NaN
1010         Parker
1011         Gamgee
1012      ...Potter
1013         Draper
1014          Knope
1015    Flenderson_
1016        Weasley
1017          Scott
1018           Kent
1019         Braton
1020      Skywalker
Name: Last_Name, dtype: object

In [58]:
df['Last_Name'] = df['Last_Name'].str.lstrip("/")
df['Last_Name'] = df['Last_Name'].str.lstrip("...")
df['Last_Name'] = df['Last_Name'].str.rstrip("_")
df['Last_Name'] = df['Last_Name'].str.strip("123._/")

In [59]:
df['Last_Name']

CustomerID
1001       Baggins
1002         Nadir
1003         White
1004       Schrute
1005          Snow
1006       Swanson
1007        Winger
1008        Holmes
1009           NaN
1010        Parker
1011        Gamgee
1012        Potter
1013        Draper
1014         Knope
1015    Flenderson
1016       Weasley
1017         Scott
1018          Kent
1019        Braton
1020     Skywalker
Name: Last_Name, dtype: object

In [60]:
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1019,Creed,Braton,N/a,N/a,N/a,Yes
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [61]:
## Lets Jump to the phone number column.

In [64]:
df['Phone_Number']= df['Phone_Number'].str.replace('[^a-zA-Z0-9]','',regex = True)
df['Phone_Number']
# regex is a special pattern used to match or search for certain characters in a string

df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' +x[3:6] + '-' + x[6:10])

TypeError: 'float' object is not subscriptable

In [51]:
'''
Why this error comes means in pandas missing values(NaN) are actually stored as float type,
even the rest of the columns looks like strings.We can't do slicing on float values.
So we want to convert that into the strings.
'''

"\nWhy this error comes means in pandas missing values(NaN) are actually stored as float type,\neven the rest of the columns looks like strings.We can't do slicing on float values.\nSo we want to convert that into the strings.\n"

In [65]:
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: str(x))
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
1003,Walter,White,nan--,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,nan--,1209 South Street,No,No
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
1009,Gandalf,NaN,Na--,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,nan--,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,nan--,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,nan--,3498 Super Lane,Y,NaN
1019,Creed,Braton,Na--,N/a,N/a,Yes
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [73]:
df['Phone_Number'] = df['Phone_Number'].str.replace('nan--','')
df['Phone_Number'] = df['Phone_Number'].str.replace('Na--','')

In [74]:
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
1003,Walter,White,,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,,1209 South Street,No,No
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No
1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,,3498 Super Lane,Y,NaN
1019,Creed,Braton,,N/a,N/a,Yes
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N

In [ ]:
'''
Next we jump to the address column.If the people who are on the call center want all these seperated
into three diffent column they can easily read it see what the zip code is where they live like whatever they want.
'''

In [79]:
df[["Street address","state","Zip code"]] = df['Address'].str.split(',',n=2,expand=True)
# using expand true each part after splitting becomes a seperate column.
# expand=False(default)- returns a series of lists.

In [80]:
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None
1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
1007,Jeff,Winger,,1209 South Street,No,No,1209 South Street,None,None
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None
1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,123 Middle Earth,None,None
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,2039 Main Street,None,None
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,None,None
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,None,None
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [82]:
df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')

In [83]:
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Yes,93 West Main Street,None,None
1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Yes,768 City Parkway,None,None
1007,Jeff,Winger,,1209 South Street,N,No,1209 South Street,None,None
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None
1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,123 Middle Earth,None,None
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,None
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,None
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,343 City Parkway,None,None
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,None,None
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,None
1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
1019,Creed,Braton,,N/a,N/a,Yes,N/a,None,None
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [87]:
df.str.replace('N/a','')
df

AttributeError: 'DataFrame' object has no attribute 'str'

In [ ]:
'''
when you are using .str directly on the entire directly on the entire DataFrame(df),and .str
only works on a single column(a series),not on the whole column.
'''

In [94]:
df = df.replace('N/a','')

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Yes,93 West Main Street,None,None
1003,Walter,White,,298 Drugs Driveway,N,NaN,298 Drugs Driveway,None,None
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Yes,768 City Parkway,None,None
1007,Jeff,Winger,,1209 South Street,N,No,1209 South Street,None,None
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,None,None
1009,Gandalf,NaN,,123 Middle Earth,Y,NaN,123 Middle Earth,None,None
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,None
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,None
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,NaN,2394 Hogwarts Avenue,None,None
1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,None,None
1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,343 City Parkway,None,None
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,None,None
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None,None
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,None
1018,Clark,Kent,,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
1019,Creed,Braton,,,,Yes,,None,None
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,None

In [97]:
df = df.fillna('')
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,
1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Yes,93 West Main Street,,
1003,Walter,White,,298 Drugs Driveway,N,,298 Drugs Driveway,,
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,,
1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Yes,768 City Parkway,,
1007,Jeff,Winger,,1209 South Street,N,No,1209 South Street,,
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,,
1009,Gandalf,,,123 Middle Earth,Y,,123 Middle Earth,,
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,,2394 Hogwarts Avenue,,
1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,,
1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,343 City Parkway,,
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,,
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,
1018,Clark,Kent,,3498 Super Lane,Y,,3498 Super Lane,,
1019,Creed,Braton,,,,Yes,,,
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,

In [99]:
for x in df.index:
    if df.loc[x,'Do_Not_Contact'] == 'Yes':
        df.drop(x,inplace=True)

df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,
1003,Walter,White,,298 Drugs Driveway,N,,298 Drugs Driveway,,
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,,
1007,Jeff,Winger,,1209 South Street,N,No,1209 South Street,,
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,,
1009,Gandalf,,,123 Middle Earth,Y,,123 Middle Earth,,
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,
1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Y,No,612 Shire Lane,Shire,
1012,Harry,Potter,,2394 Hogwarts Avenue,Y,,2394 Hogwarts Avenue,,
1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,,
1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,343 City Parkway,,
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,,
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,
1018,Clark,Kent,,3498 Super Lane,Y,,3498 Super Lane,,
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,

In [ ]:
'''
Step1- This loops through all the row index in your dataframe.
ex: If your df has 5 rows this will loop through x=0,1,2.

Step2- For each row, it checks the values in the Do_Not_Contact column.
df.loc[x,'Do_Not_Contact'] means:
.look at row x
.in column Do_Not_Contact.
.if the value is yes the row will be remove.

inplace=True the change is made directly in the original DataFrame.It does not return a new dataframe.

In [100]:
for x in df.index:
    if df.loc[x,'Phone_Number'] == '':
        df.drop(x,inplace=True)
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street address,state,Zip code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,
1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,,
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,98 Clue Drive,,
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,No,25th Main Street,New York,
1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,2039 Main Street,,
1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,No,343 City Parkway,,
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,214 HR Avenue,,
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,,
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,No,121 Paper Avenue,Pennsylvania,
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,910 Tatooine Road,Tatooine,